.header{
   background:linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.644)),url(../images/footer.jpeg);
background-size: cover;

    height: 450px;
}


.header h1{
    font-family: arial black;

    font-size: 80px;
    text-shadow: 3px 3px gray;
    color: white;

    position: absolute;
    top: 30%;
    left: 28%;
}

@media  (max-width:990px) { 
    .question{
        height:100%;
    background: linear-gradient(rgb(253, 93, 0),rgba(0, 0, 0, 0.534)),url(../images/banner32.jpg);
    }
    .question h1{
        color:white;
        font-family: arial black;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 20px;
    }
    .question p{
        color: white;
        margin-left: 20px;
    }
    .question a{
        border: 3px solid orange;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 94, 0);
        padding: 5px 20px;
        border-radius: 30px;
        text-decoration: none;
        box-shadow: 0 0 20px rgb(240, 132, 8);
        margin-top: 15px;
        position: absolute;
    }
    

.header h1{
    font-family: arial black;

    font-size: 40px;
    text-shadow: 3px 3px gray;
    color: white;

    position: absolute;
    top: 30%;
    left: 2%;
}
    body{
    overflow-x: hidden;
    }
            .banner a{
                color: white;
                background-color: orangered;
                box-shadow: 0 0 30px orangered;
                text-decoration: none;
                padding: 10px 50px;
                position: absolute;
                left: 28%;
                margin-top: 190px;
            }
            .banner h3{
                font-size: 20px;
                color: white;
                position: absolute;
                left: 17%;
                margin-top: 120px;
            }
            
            .banner h1{
                font-size:30px;
                position: absolute;
                left:2%;
                white-space: nowrap;
                margin-top: 50px;
                color: white;
                font-family: arial black;
                text-shadow: 2px 2px gray;
            }
    .cards img{
        width: 100%;
    }
          .upcoming p{
                font-size:10px;
                color: white;
                font-weight:lighter;
            
                position: absolute;
                margin-top:80px;
                left:10%;
                    font-family: arial;
            }
            .upcoming h1{
                font-size:40px;
                color: white;
                font-weight: bolder;
                text-shadow: 2px 2px gray;
                position: absolute;
                margin-top:25px;
               left:3%;
                white-space: nowrap;
                font-family: arial black;
            }
            .upcoming{
                background: linear-gradient(rgba(0, 0, 0, 0.281),rgba(0, 0, 0, 0.253)),url(../images/deal.png);
                    height:335px;
                    background-repeat: no-repeat;
                    background-size: cover;
                
                
                    width: 100%;
                    overflow: hidden;
                    
                }
    
            .timer #DAY{
                background-color: rgb(255, 145, 0);
                padding: 5px 20px;
                margin: 5px;
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.747) ;
            }
            .timer #HOUR{
                background-color: rgb(255, 145, 0);
                padding: 5px 20px;
                margin: 5px;
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.384) ;
            }
            .timer #MINUTES{
                background-color: rgb(255, 145, 0);
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.349) ;
                padding: 5px 20px;
                margin: 5px;
            }
            .timer #SECONDS{
                background-color: rgb(255, 145, 0);
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.37) ;
                padding: 5px 20px;
                margin: 5px;
            }
            .timer{
                display: inline-flex;
                padding: 10px;
            
                position: absolute;
               left: 20%;
            margin-top:200px;
                overflow: hidden;
            }
            .titles3 {
                background-color: black;
                width:360px;
                margin: 10px;
                height: 150px;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.76);
            overflow: hidden;
            border-radius: 5px;
            }
            
            .titles3 #text2{
                position: absolute;
                left: 30%;
                }
                
    
    
    .titles3 #text{
    position: absolute;
    left: 30%;
    }
    
            .tags a{
                background-color: rgba(0, 0, 0, 0);
                color:orange;
            font-weight: bold;
                padding: 10px 30px;
           
                text-decoration: none;
                border: 2px solid rgba(128, 128, 128, 0.548);
    width:100%;
    
                white-space: nowrap;
                border-radius: 5px;
            }
            
        .titles2 {
            background-color: black;
            width:100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
            border-radius: 5px;
            height: 173px;
            overflow: hidden;
            margin: 5px;
        
        }
           
            #text3{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            font-size:22px;
                position: absolute;
                left:2.5%;
                top: 30%;
                white-space: nowrap;
            }
            #text4{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:24%;
                top:60%;
       
                text-decoration: none;
                background-color: rgba(255, 38, 0, 0.664);
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 0 30px rgb(255, 72, 0);
                white-space: nowrap;
            }
            #text2{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:24%;
                top:60%;
                text-decoration: none;
                background-color: rgba(255, 166, 0, 0.664);
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 0 30px rgb(255, 174, 0);
                white-space: nowrap;
            }
    
    
    
    
    
    
    
    
    
            #text1{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:7%;
                top: 30%;
                font-size: 25px;
                white-space: nowrap;
            }
    
    
    
            #text{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:7%;
                top: 30%;
                font-size: 25px;
                white-space: nowrap;
            }
            
            .carousel-inner img{
                height: 350px;
                width: 100%;
                opacity: 60%;
                 
            }
    
    
    
            .caption10{
                padding: 5px 10px;
                background-color: rgba(255, 166, 0, 0.747);
                color: white;
                border-radius: 4px;
                position: absolute;
                right:70%;
                bottom: 60%;
                white-space: nowrap;
            
                text-decoration: none;
                box-shadow: 0 0 20px rgb(255, 147, 5);
            }
    
            .caption8{
                position: absolute;
                font-size:45px;
                font-size: bolder;
                right:7%;
                white-space: nowrap;
                color: rgba(255, 255, 255, 0.815);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 200%;
                
            }
    
    
    
    
    
    
    
    
            .caption6{
                position: absolute;
                font-size: 40px;
                font-size: bolder;
                right: 59%;
                color: rgba(252, 151, 0, 0.993);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 365%;
                
            }
            .caption7{
                position: absolute;
                font-size: 40px;
                font-size: bolder;
                right: 29%;
                color: rgba(255, 255, 255, 0.815);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 520%;
                white-space: nowrap;
                
            }
            .caption4{
                padding:5px  10px;
                background-color: rgba(255, 0, 0, 0.89);
                color: white;
                border-radius: 4px;
                position: absolute;
                right:70%;
                bottom: 70%;
                white-space: nowrap;
            
                text-decoration: none;
                box-shadow: 0 0 20px gray;
            }
            .caption3{
                position: absolute;
                font-size: 40px;
                font-size: bolder;
                right: 5%;
                color: rgba(255, 255, 255, 0.815);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 200%;
                
            }
    
            .newnavbar .navbar{
             
                height:100%;
                background-color: rgb(0, 0, 0);
                
               
                
                
                    
                }
                .caption2{
                    position: absolute;
                    font-size: 50px;
                    font-size: bolder;
                    right: 89.7%;
                    color: rgba(255, 38, 0, 0.897);
                    text-shadow: 3px 3px #424040b7;
                    font-family:Arial Black;
                    bottom: 365%;
                    
                }
                .carousel-inner{
                    background-color: rgb(0, 0, 0);
                    width:100%;
    
    
                    transition: all 2s ease;
          
                
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.76);
                    border-radius: 6px;
                    height: 100%;
               
                }
                
        .caption1{
            position: absolute;
            font-size: 50px;
            font-size: bolder;
            right: 20%;
            color: rgba(255, 255, 255, 0.815);
            text-shadow: 3px 3px #424040b7;
            font-family:Arial Black;
            bottom: 550%;
            white-space: nowrap;
            
        }

        .header p{
            position: absolute;
            top: 47%;
            left:38%;  
            font-size: 10px;
            color: white;
        }
        .header a{
            position: absolute;
            top: 55%;
            left:38%;  
            font-size: 10px;
            color: white;
            border:3px solid white;
        text-decoration: none;
            padding: 8px 30px;
        }
                .navbar-brand img{
                    width: 50px;
           height: 40px;
    
                }
          
        } 
        .reveal{
    
            position: relative;
            transform: translatez(150px);
            opacity: 0;
            transition: all 2s ease;
            
            }
            .reveal.active{
                transform: translatez(0px);
                opacity: 1; 
            }
    
    
    
    
    
    
    
    
    
    
    
    
    
    


.header p{
    position: absolute;
    top: 47%;
    left: 38%;  
    font-size: 20px;
    color: white;
}
.header a{
    position: absolute;
    top: 55%;
    left: 43%;  
    font-size: 20px;
    color: white;
    border:3px solid white;
text-decoration: none;
    padding: 8px 30px;
}
.header a:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.644);
    color: rgb(206, 144, 10);
    border:3px solid rgb(206, 144, 10);
    transition:  all 1s ease;
    transform: scale(1.2);
}
.about2{
    height: 100%;
padding: 20px;
background-color: rgba(136, 135, 135, 0);

}
.about2 h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.829);



    margin-top: 50px;
margin-left: 30px;
    font-family: arial ;
    text-shadow: 3px 3px gray;
}
.about2 p{
    margin-left: 25px;
}
.about2 a{
    color: white;
    background-color: orange;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.438);
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 25px;

}
.about2 img{
    width: 520px;
    height: 300px;
    padding: 5px;
    border-radius:8px;
    box-shadow: 0 0 20px gray;
}
.logos{

    padding: 20px;
}
.logos h1{
    color:rgb(0, 0, 0);
    font-family: arial black;
    text-shadow: 2px 2px gray;
    text-align: center;
}

.color{

text-decoration: none;
box-shadow: 0 0 30px gray;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 8px;
    background: white;
}
.question{
    height: 240px;
background: linear-gradient(rgb(253, 93, 0),rgba(0, 0, 0, 0.534)),url(../images/banner32.jpg);
}
.question a{
    border: 3px solid orange;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 94, 0);
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(240, 132, 8);
    margin-top: 95px;
    position: absolute;
}
.question a:hover{
    box-shadow: 0 0 30px orangered;
    background-color: rgb(255, 115, 0);
    transform: scale(1.1)
    ;
    color:white;
    transition: 1s ease;
}

.question h1{
    color:white;
    font-family: arial black;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
}
.question p{
    color: white;
    margin-left: 20px;
}