@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0%;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    background-color: white;
}

.box-1 {
    max-width: 450px;
    padding: 10px 40px;
    user-select: none;
}

.box-1 div .fs-12 {
    font-size: 8px;
    color: white;
}

.box-1 div .fs-14 {
    font-size: 15px;
    color: white;
}
@media  (max-width:990px) { 
    body{
    overflow-x: hidden;
    }
            .banner a{
                color: white;
                background-color: orangered;
                box-shadow: 0 0 30px orangered;
                text-decoration: none;
                padding: 10px 50px;
                position: absolute;
                left: 28%;
                margin-top: 190px;
            }
            .banner h3{
                font-size: 20px;
                color: white;
                position: absolute;
                left: 17%;
                margin-top: 120px;
            }
            
            .banner h1{
                font-size:30px;
                position: absolute;
                left:2%;
                white-space: nowrap;
                margin-top: 50px;
                color: white;
                font-family: arial black;
                text-shadow: 2px 2px gray;
            }
    .cards img{
        width: 100%;
    }
          .upcoming p{
                font-size:10px;
                color: white;
                font-weight:lighter;
            
                position: absolute;
                margin-top:80px;
                left:10%;
                    font-family: arial;
            }
            .upcoming h1{
                font-size:40px;
                color: white;
                font-weight: bolder;
                text-shadow: 2px 2px gray;
                position: absolute;
                margin-top:25px;
               left:3%;
                white-space: nowrap;
                font-family: arial black;
            }
            .upcoming{
                background: linear-gradient(rgba(0, 0, 0, 0.281),rgba(0, 0, 0, 0.253)),url(../images/deal.png);
                    height:335px;
                    background-repeat: no-repeat;
                    background-size: cover;
                
                
                    width: 100%;
                    overflow: hidden;
                    
                }
    
            .timer #DAY{
                background-color: rgb(255, 145, 0);
                padding: 5px 20px;
                margin: 5px;
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.747) ;
            }
            .timer #HOUR{
                background-color: rgb(255, 145, 0);
                padding: 5px 20px;
                margin: 5px;
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.384) ;
            }
            .timer #MINUTES{
                background-color: rgb(255, 145, 0);
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.349) ;
                padding: 5px 20px;
                margin: 5px;
            }
            .timer #SECONDS{
                background-color: rgb(255, 145, 0);
                box-shadow: 0 0 30px rgba(255, 145, 0, 0.37) ;
                padding: 5px 20px;
                margin: 5px;
            }
            .timer{
                display: inline-flex;
                padding: 10px;
            
                position: absolute;
               left: 20%;
            margin-top:200px;
                overflow: hidden;
            }
            .titles3 {
                background-color: black;
                width:360px;
                margin: 10px;
                height: 150px;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.76);
            overflow: hidden;
            border-radius: 5px;
            }
            
            .titles3 #text2{
                position: absolute;
                left: 30%;
                }
                
    
    
    .titles3 #text{
    position: absolute;
    left: 30%;
    }
    
            .tags a{
                background-color: rgba(0, 0, 0, 0);
                color:orange;
            font-weight: bold;
                padding: 10px 30px;
           
                text-decoration: none;
                border: 2px solid rgba(128, 128, 128, 0.548);
    width:100%;
    
                white-space: nowrap;
                border-radius: 5px;
            }
            
        .titles2 {
            background-color: black;
            width:100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
            border-radius: 5px;
            height: 173px;
            overflow: hidden;
            margin: 5px;
        
        }
           
            #text3{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            font-size:22px;
                position: absolute;
                left:2.5%;
                top: 30%;
                white-space: nowrap;
            }
            #text4{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:24%;
                top:60%;
       
                text-decoration: none;
                background-color: rgba(255, 38, 0, 0.664);
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 0 30px rgb(255, 72, 0);
                white-space: nowrap;
            }
            #text2{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:24%;
                top:60%;
                text-decoration: none;
                background-color: rgba(255, 166, 0, 0.664);
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 0 30px rgb(255, 174, 0);
                white-space: nowrap;
            }
    
    
    
    
    
    
    
    
    
            #text1{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:7%;
                top: 30%;
                font-size: 25px;
                white-space: nowrap;
            }
    
    
    
            #text{
                color:rgb(255, 255, 255);
                transform: scale(1);
                transition: all 1s ease;
            
                position: absolute;
                left:7%;
                top: 30%;
                font-size: 25px;
                white-space: nowrap;
            }
            
            .carousel-inner img{
                height: 350px;
                width: 100%;
                opacity: 60%;
                 
            }
    
    
    
            .caption10{
                padding: 5px 10px;
                background-color: rgba(255, 166, 0, 0.747);
                color: white;
                border-radius: 4px;
                position: absolute;
                right:70%;
                bottom: 60%;
                white-space: nowrap;
            
                text-decoration: none;
                box-shadow: 0 0 20px rgb(255, 147, 5);
            }
    
            .caption8{
                position: absolute;
                font-size:45px;
                font-size: bolder;
                right:7%;
                white-space: nowrap;
                color: rgba(255, 255, 255, 0.815);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 200%;
                
            }
    
    
    
    
    
    
    
    
            .caption6{
                position: absolute;
                font-size: 40px;
                font-size: bolder;
                right: 59%;
                color: rgba(252, 151, 0, 0.993);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 365%;
                
            }
            .caption7{
                position: absolute;
                font-size: 40px;
                font-size: bolder;
                right: 29%;
                color: rgba(255, 255, 255, 0.815);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 520%;
                white-space: nowrap;
                
            }
            .caption4{
                padding:5px  10px;
                background-color: rgba(255, 0, 0, 0.89);
                color: white;
                border-radius: 4px;
                position: absolute;
                right:70%;
                bottom: 70%;
                white-space: nowrap;
            
                text-decoration: none;
                box-shadow: 0 0 20px gray;
            }
            .caption3{
                position: absolute;
                font-size: 40px;
                font-size: bolder;
                right: 5%;
                color: rgba(255, 255, 255, 0.815);
                text-shadow: 3px 3px #424040b7;
                font-family:Arial Black;
                bottom: 200%;
                
            }
    
            .newnavbar .navbar{
             
                height:100%;
                background-color: rgb(0, 0, 0);
                
               
                
                
                    
                }
                .caption2{
                    position: absolute;
                    font-size: 50px;
                    font-size: bolder;
                    right: 89.7%;
                    color: rgba(255, 38, 0, 0.897);
                    text-shadow: 3px 3px #424040b7;
                    font-family:Arial Black;
                    bottom: 365%;
                    
                }
                .carousel-inner{
                    background-color: rgb(0, 0, 0);
                    width:100%;
    
    
                    transition: all 2s ease;
          
                
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.76);
                    border-radius: 6px;
                    height: 100%;
               
                }
                
        .caption1{
            position: absolute;
            font-size: 50px;
            font-size: bolder;
            right: 20%;
            color: rgba(255, 255, 255, 0.815);
            text-shadow: 3px 3px #424040b7;
            font-family:Arial Black;
            bottom: 550%;
            white-space: nowrap;
            
        }
                .navbar-brand img{
                    width: 50px;
           height: 40px;
    
                }
          
        } 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

.box-1 img.pic {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.box-1 img.mobile-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box-1 .name {
    font-size: 11px;
    font-weight: 600;
}

.dis {
    font-size: 12px;
    font-weight: 500;
}

label.box {
    width: 100%;
    font-size: 12px;
    background: white;
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

#one:checked~label.first,
#two:checked~label.second,
#three:checked~label.third {
    border-color: rgba(255,115,0);
}

#one:checked~label.first .circle,
#two:checked~label.second .circle,
#three:checked~label.third .circle {
    border-color: rgba(255,115,0);
    background-color: white;
}

label.box .course {
    width: 100%;
}

label.box .circle {
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid transparent;
    display: inline-block;
}

input[type="radio"] {
    display: none;
}

.box-2 {
    max-width: 450px;
    padding: 10px 40px;
}


.box-2 .box-inner-2 input.form-control {
    font-size: 12px;
    font-weight: 600;
}

.box-2 .box-inner-2 .inputWithIcon {
    position: relative;
}

.box-2 .box-inner-2 .inputWithIcon span {
    position: absolute;
    left: 15px;
    top: 8px;
}

.box-2 .box-inner-2 .inputWithcheck {
    position: relative;
}

.box-2 .box-inner-2 .inputWithcheck span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 6px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid rgba(255,115,0);
}

.border:focus-within {
    border: 1px solid rgba(255,115,0) !important;
}

.box-2 .card-atm .form-control {
    border: none;
    box-shadow: none;
}

.form-select {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.address .form-control.zip {
    border-radius: 0;
    border-bottom-left-radius: 10px;

}

.address .form-control.state {
    border-radius: 0;
    border-bottom-right-radius: 10px;

}

.box-2 .box-inner-2 .btn.btn-outline-primary {
    width: 120px;
    padding: 10px;
    font-size: 11px;
    padding: 0% !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    background-color: white;
    color: black;
    font-weight: 600;
}

.box-2 .box-inner-2 .btn.btn-primary {
    background-color:rgba(255,115,0);
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    padding: 10px;
}

.box-2 .box-inner-2 .btn.btn-primary:hover {
    background-color:rgba(255,115,0);
}

.box-2 .box-inner-2 .btn.btn-primary .fas {
    font-size: 13px !important;
    color: white;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-inner {
    width: 100%;
    height: 250px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1;
}

.carousel-control-prev:hover .fas.fa-arrow-left {
    transform: translateX(-5px);
}

.carousel-control-next {
    transform: translateX(50%);
    opacity: 1;
}

.carousel-control-next:hover .fas.fa-arrow-right {
    transform: translateX(5px);
}

.fas.fa-arrow-left,
.fas.fa-arrow-right {
    font-size: 0.8rem;
    transition: all .2s ease;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;
    opacity: 1;
}

.fas,
.fab {
    color: #6d6c6d;
}

::placeholder {
    font-size: 12px;
}

@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto;
    }

    .box-1,
    .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto;
    }

}

@media (max-width:426px) {

    .box-1,
    .box-2 {
        max-width: 400px;
        padding: 20px 10px;
    }

    ::placeholder {
        font-size: 9px;
    }
}

footer {
    background-color: black;
    height:100%;
    color: orange;
    padding: 10px;
    border-top: 40px solid orange;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.logos a{
    display: inline-block
    ;
background-color: orange;
padding: 10px 20px;
white-space: nowrap;
margin:5px;

border-radius: 6px;
}
footer a:hover{
    color: orange;
}
.logos a:hover{
    color: black;
    background-color: rgb(255, 115, 0);
    box-shadow: 0 0 30px orange;
    transition: 1s ease;
}
.search{
 
background-color: orange;
padding: 10px 20px;
white-space: nowrap;
margin:5px;

border-radius: 6px;
}
footer input{
    padding: 4px 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: 0 0 20px orange;
    
}
.search:hover{
    color: black;
    background-color: rgb(255, 115, 0);
    box-shadow: 0 0 30px orange;
    transition: 1s ease;
}
.about{

padding: 5px;

justify-content: space-between;

}
.about h3{
    font-size: 20px;
    white-space: nowrap;
    color: orange;

}

.about p{
    font-size: 15px;
    color: gray;
}
.about img{
    margin-top:20px ;
  overflow: visible;
}
.abouts img{
    margin-top: 23px;
}
.banner{
    background:linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0, 0.692)),url(../images/bann.png);
    height: 350px;
    background-size: cover;

}
.banner h1{
    font-size: 50px;
    position: absolute;
    left: 30%;
    margin-top: 50px;
    color: white;
    font-family: arial black;
    text-shadow: 2px 2px gray;
}
.banner h3{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 37%;
    margin-top: 120px;
}

.banner a{
    color: white;
    background-color: orangered;
    box-shadow: 0 0 30px orangered;
    text-decoration: none;
    padding: 10px 50px;
    position: absolute;
    left: 44%;
    margin-top: 190px;
}

.banner a:hover{
    color: white;
    background-color: orange;
    box-shadow: 0 0 30px orange;
    transition: 1s ease;
}
.newnavbar .navbar{
    padding:10px ;
    height: 80px;
    background-color: black;
    
    
    
    
        
    } body{
        overflow-x: hidden;
    }
    
    *{
    
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
     .newnavbar .nav-item a {
         color: rgb(255, 166, 0);
      
         padding: 5px 5px;
    
         border-radius: 3px;
         margin: 5px 5px;
     }
     .newnavbar .nav-item a:hover{
    
    
      
        background-color:rgb(255, 166, 0) ;
        box-shadow: 0 0 20px orange;
        color:rgba(255, 255, 255, 0.959);
    
        transform: scale(0.9);
        transition: all 1s ease;
    
     }
    
    .a {
        color: rgb(255, 174, 0);
     text-decoration: none;
        padding: 5px 5px;
    
        border-radius: 3px;
        margin: 5px 12px;
    }
    .a:hover{
    
    
     
       background-color:rgb(255, 166, 0) ;
       box-shadow: 0 0 20px orange;
       color:rgba(255, 255, 255, 0.959);
    
       transform: scale(0.9);
       transition: all 1s ease;
    
    }
    
    
     .modalbutton{
    color: rgb(255, 255, 255);
    background-color:rgba(255, 166, 0, 0) 
    ;
    border: 1px solid orange;
    
    
    border-radius: 50%;
    padding: 5px 9px;
     }
    
    
     .modalbutton:hover{
         color:white;
         background-color: orange;
         box-shadow: 0 0 20px orange;
       transition: all 1s ease;
    
        }
    
        .dropdownicon{
            color:rgb(0, 0, 0);
            font-size: 20px;
            font-weight: lighter;
        }
    .navbar1{
        background-color: rgba(255, 255, 255, 0.856);
        padding:0.2px;
        height: 60px;
    }
    .navbar1 .nav-link{
        color: rgb(0, 0, 0);
    }
    